/*
 * Application hardware configuration for the STM32F103C8T6 board.
 *
 * Schematic:
 *   ADC1 PA0..PA6 : ADC_I_USB7 .. ADC_I_USB1
 *   I2C1 PB6/PB7  : TCA9535PWR at 0x20
 *   USART1 PA9/PA10
 *   SPI2 PB12/PB13/PB15 : LCD CS/SCK/MOSI
 *   PB10/PB11/PB9       : LCD DC/RST/BL
 *
 * LCD: ST7735S-compatible, 128x160 portrait panel using 4-wire SPI.
 */

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/pinctrl/stm32f1-pinctrl.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/clock/stm32f1_clock.h>

/ {
	leds {
		led_d13: led_13 {
			gpios = <&tca9535 8 GPIO_ACTIVE_LOW>;
			label = "USB Channel 1 led";
		};

		led_d14: led_14 {
			gpios = <&tca9535 9 GPIO_ACTIVE_LOW>;
			label = "USB Channel 2 led";
		};

		led_d15: led_15 {
			gpios = <&tca9535 10 GPIO_ACTIVE_LOW>;
			label = "USB Channel 3 led";
		};

		led_d16: led_16 {
			gpios = <&tca9535 11 GPIO_ACTIVE_LOW>;
			label = "USB Channel 4 led";
		};

		led_d17: led_17 {
			gpios = <&tca9535 12 GPIO_ACTIVE_LOW>;
			label = "USB Channel 5 led";
		};

		led_d18: led_18 {
			gpios = <&tca9535 13 GPIO_ACTIVE_LOW>;
			label = "USB Channel 6 led";
		};

		led_d19: led_19 {
			gpios = <&tca9535 14 GPIO_ACTIVE_LOW>;
			label = "USB Channel 7 led";
		};
	};

	lcd_bl {
		compatible = "pwm-leds";

		lcd_backlight: lcd-backlight {
			pwms = <&pwm4 4 PWM_USEC(500) PWM_POLARITY_NORMAL>;
			label = "LCD_BL";
		};
	};

	gpio_buttons {
		compatible = "gpio-keys";

		button_0: button_0 {
			gpios = <&gpioa 8 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "Enter Key";
		};

		button_1: button_1 {
			gpios = <&gpioa 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Left Key";
		};

		button_2: button_2 {
			gpios = <&gpioa 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Right Key";
		};
	};

	mipi_dbi: mipi-dbi {
		compatible = "zephyr,mipi-dbi-spi";
		status = "okay";
		spi-dev = <&spi2>;
		dc-gpios = <&gpiob 10 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpiob 11 GPIO_ACTIVE_LOW>;
		write-only;
		#address-cells = <1>;
		#size-cells = <0>;

		st7735s: st7735s@0 {
			compatible = "sitronix,st7735r";
			reg = <0>;
			mipi-max-frequency = <20000000>;
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";

			width = <128>;
			height = <160>;
			x-offset = <0>;
			y-offset = <0>;

			madctl = <0x00>;
			colmod = <0x55>;
			vmctr1 = <0x0e>;
			pwctr1 = [a2 02 84];
			pwctr2 = [c5];
			pwctr3 = [0a 00];
			pwctr4 = [8a 2a];
			pwctr5 = [8a ee];
			frmctr1 = [01 2c 2d];
			frmctr2 = [01 2c 2d];
			frmctr3 = [01 2c 2d 01 2c 2d];
			gamctrp1 = [02 1c 07 12 37 32 29 2d
				    29 25 2b 39 00 01 03 10];
			gamctrn1 = [03 1d 07 06 2e 2c 29 2d
				    2e 2e 37 3f 00 00 02 10];
		};
	};

	chosen {
		zephyr,display = &st7735s;
	};

	zephyr,user {
		io-channel-names = "usb7", "usb6", "usb5", "usb4",
				   "usb3", "usb2", "usb1";
		/*
		 * The order is fixed and is used by the application:
		 *   0: PA0 / ADC1_USB7
		 *   1: PA1 / ADC1_USB6
		 *   2: PA2 / ADC1_USB5
		 *   3: PA3 / ADC1_USB4
		 *   4: PA4 / ADC1_USB3
		 *   5: PA5 / ADC1_USB2
		 *   6: PA6 / ADC1_USB1
		 */
		io-channels = <&adc1 0>, <&adc1 1>, <&adc1 2>,
			      <&adc1 3>, <&adc1 4>, <&adc1 5>,
			      <&adc1 6>;
	};

	vusb_switches {
		compatible = "regulator-fixed";
		regulator-name = "USB_Power_Switches";

		vusb1_pwr: vusb1_reg {
			compatible = "regulator-fixed";
			enable-gpios = <&tca9535 0 GPIO_ACTIVE_HIGH>;
			regulator-name = "VUSB1_5V";
			startup-delay-us = <500>;
			regulator-boot-on;
			regulator-always-on;
		};

		vusb2_pwr: vusb2_reg {
			compatible = "regulator-fixed";
			enable-gpios = <&tca9535 1 GPIO_ACTIVE_HIGH>;
			regulator-name = "VUSB2_5V";
			startup-delay-us = <500>;
			regulator-boot-on;
			regulator-always-on;
		};

		vusb3_pwr: vusb3_reg {
			compatible = "regulator-fixed";
			enable-gpios = <&tca9535 2 GPIO_ACTIVE_HIGH>;
			regulator-name = "VUSB3_5V";
			startup-delay-us = <500>;
			regulator-boot-on;
			regulator-always-on;
		};

		vusb4_pwr: vusb4_reg {
			compatible = "regulator-fixed";
			enable-gpios = <&tca9535 3 GPIO_ACTIVE_HIGH>;
			regulator-name = "VUSB4_5V";
			startup-delay-us = <500>;
			regulator-boot-on;
			regulator-always-on;
		};

		vusb5_pwr: vusb5_reg {
			compatible = "regulator-fixed";
			enable-gpios = <&tca9535 4 GPIO_ACTIVE_HIGH>;
			regulator-name = "VUSB5_5V";
			startup-delay-us = <500>;
			regulator-boot-on;
			regulator-always-on;
		};

		vusb6_pwr: vusb6_reg {
			compatible = "regulator-fixed";
			enable-gpios = <&tca9535 5 GPIO_ACTIVE_HIGH>;
			regulator-name = "VUSB6_5V";
			startup-delay-us = <500>;
			regulator-boot-on;
			regulator-always-on;
		};

		vusb7_pwr: vusb7_reg {
			compatible = "regulator-fixed";
			enable-gpios = <&tca9535 6 GPIO_ACTIVE_HIGH>;
			regulator-name = "VUS7_5V";
			startup-delay-us = <500>;
			regulator-boot-on;
			regulator-always-on;
		};
	};

	aliases {
		host-uart = &usart1;
		vusb1-pwr = &vusb1_pwr;
		vusb2-pwr = &vusb2_pwr;
		vusb3-pwr = &vusb3_pwr;
		vusb4-pwr = &vusb4_pwr;
		vusb5-pwr = &vusb5_pwr;
		vusb6-pwr = &vusb6_pwr;
		vusb7-pwr = &vusb7_pwr;

		green-led1 = &led_d13;
		green-led2 = &led_d14;
		green-led3 = &led_d15;
		green-led4 = &led_d16;
		green-led5 = &led_d17;
		green-led6 = &led_d18;
		green-led7 = &led_d19;

		enter-key = &button_0;
		left-key = &button_1;
		right-key = &button_2;
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(16)>;
	status = "okay";
};

&pll {
	clocks = <&clk_hse>;
	mul = <9>;
	xtpre;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(72)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};

&pinctrl {
	tim4_ch4_pwm_out_pb9: tim4_ch4_pwm_out_pb9 {
		pinmux = <STM32F1_PINMUX('B', 9, ALTERNATE, NO_REMAP)>;
	};
};

&timers4 {
	status = "okay";

	pwm4: pwm {
		status = "okay";
		pinctrl-0 = <&tim4_ch4_pwm_out_pb9>;
		pinctrl-names = "default";
	};
};

/* PB10/PB11 are reserved for the LCD DC and reset signals. */
&usart3 {
	status = "disabled";
};

&i2c2 {
	status = "disabled";
};

/*
 * PA4..PA6 are analog inputs in this design. SPI1 is not connected
 * to the LCD; disable the board default so it cannot claim those pins.
 */
&spi1 {
	status = "disabled";
};

&usart2 {
	status = "disabled";
};

&adc1 {

	clocks = <&rcc STM32_CLOCK(APB2, 9)>,
		 <&rcc STM32_SRC_SYSCLK ADC_PRE(ADC_PRE_DIV_6)>;
	clock-names = "adcx", "adc_pre";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};

	channel@1 {
		reg = <1>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};

	channel@2 {
		reg = <2>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};

	channel@3 {
		reg = <3>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};

	channel@4 {
		reg = <4>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};

	channel@5 {
		reg = <5>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};

	channel@6 {
		reg = <6>;
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};
};

&i2c1 {
	tca9535: gpio-expander@20 {
		compatible = "nxp,pca95xx";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
		ngpios = <16>;
		gpio-line-names = "VUSB1_5V_CTL", "VUSB2_5V_CTL",
				  "VUSB3_5V_CTL", "VUSB4_5V_CTL",
				  "VUSB5_5V_CTL", "VUSB6_5V_CTL",
				  "VUSB7_5V_CTL", "NC",
				  "D13", "D14", "D15", "D16",
				  "D17", "D18", "D19", "NC";
		status = "okay";
	};
};
